<div class="hero-{{heroClass}}">
	<div class="row">
		<div class="hero-image">
			<div class="page-header">
				<a class="build" href="http://eu.battle.net/d3/en/calculator/{{build}}">
					<div class="crest">
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="row text-center" id="{{heroClass}}-build">
	</div>

	<div class="row">
		<h2>CUBE</h2>
	</div>
	<div class="row" id="{{heroClass}}-cube"></div>

	<div class="row">
		<h2>CUBE / WEAR</h2>
	</div>
	<div class="row" id="{{heroClass}}-cubewear"></div>

	<div class="row">
		<h2>WEAR</h2>
	</div>
	<div class="row row-wear" id="{{heroClass}}-wear"></div>
</div>