body{
    background: #181F26;
    color: #eee;
    margin: 0 auto;
    font-family: source-sans-pro, sans-serif;
}

h3 {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 5em;
    background: #13171c;
}

#controls {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: table;
    font-size: 2.3em;
}

input {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #232D38;
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    font-size: .7em;
}

a {
    text-decoration: none;
    color: inherit;
}

#groupbuttons {
    max-width: 465px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.button {
    max-width: 75px;
    max-height: 75px;
    -webkit-background-size: cover;
    background-size: cover;
    float: left;
}

.indexbuttons {
    width: 100%;
    max-width: 500px;
    text-align: center;
    display: table;
    font-size: 3em;
    overflow-x: hidden;
    margin: 0 auto;
    margin-top: 50px;
}

.indexbutton {
    width: 100%;
    margin: 0 auto;
}

#goback {
    margin-top: 10px;
    text-align: center;
    float: left;
    font-size: 3em;
    min-width: 100%;
}
