body{
    background: #181F26;
    color: white;
    margin: auto;
    font-family: source-sans-pro, sans-serif;
}

h3 {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 2em;
    background: black;
}

#controls {
    margin: 0 auto;
    width: 370px;
    text-align: center;
    padding-top: 2em;
    display: table;
    font-size: 1em;
}

input {
    background-color: #232D38;
    border: 3px solid black;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 2em;
}
