body{
    background: #181F26;
    color: white;
    margin: 0 auto;
    font-family: source-sans-pro, sans-serif;
}

h3 {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 5em;
    background: black;
}

#controls {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: table;
    font-size: 3em;
}

input {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #232D38;
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1em;
}
